body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/5302920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER*/

.header .header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #cd0000;
    background-color: var(--color-default);
    padding: 20px;
}

.header .header-container h1 a {
    color: var(--highlight-color-one);
    transition: color 0.3s;
    letter-spacing: 1px;
}

.header .header-container h1 a:hover {
    color: var(--highlight-color-two);
}

.header .header-container nav ul {
    display: flex;
}

.header .header-container nav ul li {
    justify-content: space-between;
    padding: 10px 30px;
    color: var(--highlight-color-one);
}

.header .header-container nav ul li a {
    color: var(--highlight-color-one);
    position: relative;
}

.header .header-container nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--highlight-color-two);
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.header .header-container nav ul li a:hover::after {
    width: 100%;
    left: 50%;
}

/* ABOUT */
main .about {
    display: flex;
    margin: 50px;
    align-items: center
}

.about .photo .profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cd0000;
    margin-left: 80%;
}

.about .info {
    margin-left: 20%;
}

.about .info .author-name {
    color: var(--titles-color);
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 600;
}

.about .info .author-name:hover {
    cursor: default;
}

.about .info .author-description {
    color: var(--descriptions-color);
    padding: 10px 0;
    letter-spacing: 2px;
    font-weight: 400;
    transition: 0.4s ease;
    cursor: default;
    background-color: var(--background-color-highlight);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.more-about-author, .hide-info {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 25px;
    background-color: var(--background-color-highlight);
    color: var(--titles-color);
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.more-about-author:hover, .hide-info:hover {
    background-color: var(--highlight-color-two);
    color: var(--color-default);
    font-weight: bold;
    font-size: 15px;
    padding: 2px 0;
}

/*SLIDERS*/

.sections-name {
    text-align: center;
    font-size: 45px;
    padding: 20px;
}

.projects-section {
    cursor: default;
    background: linear-gradient(270deg, #00BFFF, #FF5E00, #00BFFF);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarGradiente 5s ease infinite;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.project-image-container {
    margin-left: 4%;
}
.project-image {
    margin-top: 50px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-left: 4%;
    border: 10px double var(--background-color-highlight);
}

.project-info {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.project-info .project-name {
    color: var(--titles-color);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: default;
}

.project-info .project-description {
    margin-top: 5px;
    color: var(--descriptions-color);
    font-weight: 500;
    font-size: 14px;
    padding: 0 5px;
    cursor: default;
}

.project-info .project-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 70px;
    gap: 10px;
    color: var(--color-default);
}

.project-info .project-icons li:hover {
    color: var(--color-icons-highlight);
}

.project-link {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: var(--highlight-color-one);
    letter-spacing: 1px;
}

.project-link:hover {
    color: var(--highlight-color-two);
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}

.fa-arrow-alt-circle-left {
    font-size: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.fa-arrow-alt-circle-left:hover{
    color: var(--color-icons-highlight);
}

.fa-arrow-alt-circle-right {
    font-size: 50px;
    margin-right: 3%;
    cursor: pointer;
}

.fa-arrow-alt-circle-right:hover{
    color: var(--color-icons-highlight);
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.opacidade {
    opacity: 0.6;
    cursor: default;
}

/*SKILLS*/

.skills-section {
    cursor: default;
    background: linear-gradient(270deg, #00BFFF, #FF5E00, #00BFFF);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarGradiente 5s ease infinite;
}

.skills-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 90px;
    gap: 50px;
}

.skills-icons li {
   transition: 3s ease, color 3s ease;
}

.skills-icons li:hover {
    color: var(--color-icons-highlight);
    transform: scale(1.2);
    text-shadow: 0 6px 12px var(--highlight-color-two);
}

/*CONTACT*/

.contact-section {
    cursor: default;
    background: linear-gradient(270deg, #00BFFF, #FF5E00, #00BFFF);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarGradiente 5s ease infinite;
}

.contact-message {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    color: var(--descriptions-color);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin: 15px 0;
}

.form .input-name, .input-email {
    border-radius: 5px;
    border: none;
    width: 330px;
    height: 35px;
    padding: 10px;
    background-color: var(--titles-color);
    margin: 10px 0;
}

.textarea{
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--titles-color);
}

.input-name::placeholder, .input-email::placeholder, 
.textarea::placeholder {
    color: var(--color-default);
    font-weight: 600;
}

.btn {
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 35px;
    color: var(--color-default);
    background-color: var(--titles-color);
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--descriptions-color);
}

/*FOOTER*/

.footer {
    margin: 10px 30px;
    border-radius: 10px;
}

.footer-title {
    margin: 50px 0 0 30px;
    color: var(--titles-color);
    cursor: default;
    padding: 10px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 50px;
    transition: 3s;
}

.links .link a{
    color: var(--descriptions-color);
}

.links .link:hover{
    transform: scale(1.2);
}

/* KEYFRAMES ANIMATION*/

@keyframes animarGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}